* {
    --gallery-size: 320px;
}

.gallery{
    display: flex;
    flex: 4 1 50%;
    width: 100%;
    overflow-y: auto;
}

.gallery-title {
    margin-top: 2rem;
    position: relative;
    padding: 1rem;
    /*color: var(--text-color-base);*/
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.gallery-title:after{
    content: "";
    display: block;
    position:absolute;

    bottom: 0;

    height: 4px;
    width: 400px;

    background-color: var(--theme-accent);
    border-radius: 1rem;
}

.gallery-image a img {
    min-height: 100%;
    min-width: 100%;
    transition: all 0.1s;
    transform: scale(1.05) rotate(0deg);
    filter: brightness(95%);
    object-fit: cover;
}

.gallery-image {
    overflow: hidden;
    border-radius: 6px;
    display: flex; 
    justify-content: center;
    min-height: var(--gallery-size);
    max-height: var(--gallery-size);
    min-width: var(--gallery-size);
    flex: 1 1 5%;

}

.portfolio {
    display: flex; 
    gap: 7px;
    overflow: hidden;
    margin: 2rem 4rem;
    flex-wrap: wrap;
}

.gallery-image a img:hover {
    transform: scale(1.0) rotate(0deg);
    /*
    filter: brightness(100%) contrast(106%);
     * */
}


@media only screen and (max-width:1024px) {
    .gallery-image {
        --gallery-size: 230px;
    }
}
@media only screen and (max-width:616px) {
    .portfolio {
        width: calc(100% - 1rem);
    }
}
