* {    margin: 0px;    padding: 0px;}

body {
    background-image: linear-gradient(to right, rgba(20,30,50), rgb(43, 51, 76) 20%,rgb(91, 131, 224) );
    background-size: cover;
    
    background-repeat: no-repeat;
    
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;

    min-height: 15vh;
    padding: 10px;

}

.header-icon{
    display: flex;
    margin: 0px 60px;
    size: 60px;
    
    border: 3px solid #fff;
    border-radius: 50%;
    
    background-color: #fff;
    background: none;
    outline: solid 2px rgba(255, 255, 255, 0.4);
    
    outline-offset: 2px;
    user-select: none;

}


.title {
    padding-bottom: 8px;
    padding-right: 20vw;
    display: flex;

    align-items: center;
    font-size: 48px;
    font-family:  monospace;
    user-select: none;
    
    color: rgba(255, 255, 255, 0.9);

}

.texture{
    background-repeat: repeat;
    opacity: 1;

    
}

a {
    user-select: none;
    width: 100%;
    padding: 16px 00px ;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    
    text-decoration: none;
    font-family:'Segoe UI';
    font-size: 1.1rem;
    font-weight: 350;
    

    color: #fff;
    outline: 2px solid rgba(255, 255, 255, 0.6);
    
    transition: ease-in .12s all;
    
}

a:hover {
    font-weight: 700;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.733),0 0 7px 5px rgba(0, 255, 255, 0.5) ;
    outline: 2px solid aqua;
    color: aqua;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 32px;
    width: 70%;
    max-width: 240px;
    
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    transition: ease-in .12s all;
}

.button:hover {
    max-width: 260px;
    
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 85vh;
}

.left {
    display: flex;
    flex-direction: column;
    
    /* background-color: rgba(0, 0, 0, 0.254); */
    min-width: 300px;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    flex: 45%;

}




footer {
    background-color: rgb(2, 14, 41);
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 -10px  50px 40px rgb(2, 14, 41);
       

}

.email {
    justify-content: center;
    color: rgba(255, 255, 255, 0.301);
    font-size: 24px;
}

.padding-left{
    display: flex;
    width: 100px;
}

@media only screen and (max-width:768px) {
    .padding-left{
        display: none;
    }
    header {
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }

    .flex {
        flex-direction: column;
    }

    .title {
        padding-right: 0;
    }
}