* {    
    --pink: #f874ff;
    --cyan: aqua;
    --blue: #2e93ff;
    --bg: #cad2e4;
    --hft: #062dff2b;
    --ft: #000632c1;
    --bg-art-content: #0006327c;
    --halftone-size: 36px;
    --button-border-radius: 50%;
    --section-border-radius: 16px;

    --header-icon-progile-size: 60px; 
    
    
    --icon-size: 2rem;
    --icon-size-m: 2.6em;
    --icon-size-g: 2.8rem;
    --icon-size-xl: 2.9rem;

    --social-button-size: 2.2rem;

    margin: 0px;    
    padding: 0px;

    font-family: 'fuente1', monospace;
    font-size: 14px;

}

@font-face {
    font-family: 'fuente1';  /* nombre de la fuente */
    src: url('DejaVuSansMono.ttf');   /* ubicación de la fuente */
  }
  @font-face {
      font-family: 'fuente2';  /* nombre de la fuente */
      src: url('DejaVuSansMono-Bold.ttf');   /* ubicación de la fuente */
    }

body {
    opacity: 0;
    background-image: linear-gradient(to right, rgb(17, 240, 255) -37%, #85baff 47%,rgb(5, 94, 240) 137%);
    animation-timing-function: ease-in-out;
}

.title-column {
	padding-right: 30%;
}
header {
	z-index: 10;
    border: solid #fff;
    border-width: 0px 0px 5px 0px;
    background-image: linear-gradient(0deg, #03206287 44%, #000e5775);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 12px;

}

img {
    user-select: none;
    color: white;
    font-size: large;
    display: flex;
    flex-direction: row;
    font-family: 'fuente1', monospace;

}

i, .pixiv-icon {
    margin: 8px;
}

a { 
    text-decoration: none;
    font-family: 'fuente2', monospace;
    font-size: 1.1rem;
    color: #ffffff;
    cursor: pointer;

}
span {
    font-family: 'fuente1', monospace;
    padding: 2px 2px;
}

h2 {
    padding-bottom: 30px;
    display: flex;
    z-index: 100;
    align-items: center;
    font-size: 2.4rem;
    font-family:  'fuente1', monospace;
    user-select: none;
    
    color: rgba(255, 255, 255, 0.9);

}

h3 {
    font-family: 'fuente2', monospace;
}

p {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'fuente1', monospace;
    margin-bottom: 0.4rem;
}

footer {
    flex-direction: column;
}


/* ----------BASICS--------- */

.texture{
    background-image: radial-gradient(circle, var(--hft) 16%, transparent 18%);
    overflow: hidden;
    background-size: var(--halftone-size) var(--halftone-size);
    background-repeat: repeat;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}




.icon-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 0px 60px;
}

.header-icon{
    size: 60px;
    size: 60px;
    
    border: 3px solid #fff;
    border-radius: 50%;
    
    user-select: none;
    -webkit-user-drag: none;

}

.title {
    padding-bottom: 0px;
    display: flex;
    z-index: 100;
    align-items: center;
    font-size: 2.8rem;
    font-family:  monospace;
    user-select: none;
    color: rgba(255, 255, 255, 0.9);
}

.my-icon {
    color: white;
    font-size: var(--icon-size);
    transition-duration: .2s;
    transition-property: background-color background color;
  }

.pixiv-icon {
    background-color: #ffffff; 
    
    mask-image: url("./img/pixiv-icon.png"); 
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url("./img/pixiv-icon.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    
    width: var(--icon-size);
    height: var(--icon-size);
}

.section-social-media .my-icon-button {
    font-size: var(--icon-size-g);
}
#mobile-instagram {
    width:auto;
}
.my-icon-button {
    color: white;
    
    transition-duration: .2s;
    transition-property: background-color background-image color;
  }

.pixiv-icon-button {
    background-color: #ffffff;
    
    mask-image: url("./img/pixiv-icon.png");
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url("./img/pixiv-icon.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    width: var(--icon-size-g);
    height: var(--icon-size-g);
}


.social-icon:hover .fa-instagram {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff6658 35%, #ff40c3 70%, #3a89ff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-icon:hover .fa-twitter{
    color: rgb(0, 238, 255);
}
.social-icon:hover .pixiv-icon{
    background-color: rgb(0, 166, 255);
}
.gradient-icon {
    font-size: 24px;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    -webkit-text-fill-color: transparent;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.social-icon {
    padding: 0px 0px;
    border-radius: 22px;
    padding: 4px 8px;
    transition: ease-in-out .2s background-color;
}
.social-icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* SECTION MAIN */

.main {
    min-height: 600px;
    height: 85vh;
}




/* SECTION SOCIAL MEDIA */

.section-social-media {
    z-index: 100;
}

.social-button .pixiv-icon{
    margin: 0px;
}
.section-social-media .social-button{
    position: absolute;
}
.social-button {
    position: relative;
    user-select: pointer;
    text-decoration: none;
    border-radius: var(--button-border-radius);
    
    padding: 10px;
    background-color: #0000002e;
    color: #ffffff;
    outline: 3px solid rgba(255, 255, 255, 0.8);
    transition: ease-out .2s all;
}

.social-button:hover {
    outline: 5px solid var(--cyan);
    color: var(--cyan);
    background-color: #00000000;
    transform: scale(1.1);
}

.instagram-div {
    padding: 10px;
    border-radius: var(--button-border-radius);
    width: var(--icon-size-g);
    height: var(--icon-size-g);
    transition: 2s ease-in-out background-image;
    background-image: radial-gradient(circle at 30% 107%, #0000002e 0%);

}


#mobile-instagram {
    top: -130px;
    left: -50px;
    position: relative;
}
#mobile-pixiv {
    top: -40px;
    left: 75px;
    position: relative;
}
#mobile-twitter {
    left: -120px;
    bottom: -10px;
    position: relative;
}

.instagram-div{
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff6658 35%, #ff40c3 70%, #3a89ff 90%);

}


#mobile-pixiv a{
    background-color: var(--blue);
}

#mobile-twitter a{
    background-color: rgb(0, 195, 255);
}





/* CHARACTER SPRITE SECTION */


.section-social-media-character {
    position: relative;

    display: flex!important;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    
    width: 0px;
    height: 0px;

}

#social-media-character {
    user-select: none;
    position: absolute;
    height: 95vh;
    min-height: 700px;;
    z-index: 0;
    -webkit-user-drag: none;
    animation: character-float ease-in-out 4s 0s infinite alternate forwards;
    
}

@keyframes character-float-mobile {
    0% {
        transform: translate3d(-40px,-10px,0);
            
    }
    100% {
        transform: translate3d(-40px,-1px,0);
        
    }
    
}

            /* ART CONTENT SECTION*/


.art-content {
    margin: 1.2vh 0;
    padding: 16px;
    min-height: 390px;
    height:82vh;
    width: calc(100% - 32px - 2.4vh);
    border-radius: var(--section-border-radius);
    background: #0006327c;
    align-items: center;
    justify-content: space-between;
    flex-wrap: no-wrap;
    gap: 16px;
}

.info-side {
    border-radius: var(--section-border-radius) var(--section-border-radius) calc(var(--section-border-radius) / 1.5) calc(var(--section-border-radius) / 1.5);
    background-color: #5f9fd4c7;
    
    flex-grow: 1;
    min-width: 320px;
    width: calc(100vw/4);
    min-height: 340px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}


.tabs-box {
    gap: 1px;
    background-color: rgba(255, 255, 255, 0.911);
    width: 100%;
    min-height: 32px;
    max-height: 6%;
    position: relative;
}

.tab-bt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    width: 100px;
    background-color: #00000000;
    font-family: monospace;
    padding: 8px 16px;;
    border-style: hidden;

}

.tabs-box button:hover {
    background-color: white;
    min-height: 30px;
}

.tabs-line {
    background-color: #2ebdff;
    height: 3px;
    position: absolute;
    width: 30%;
    bottom: 0;
    transition: 0.15s all;
}

.tab-active {
    color:rgb(0, 166, 255)
}


.tabs-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.decorator-image {
    bottom: 10px;
    width: 100px;
    opacity: 0.5;
    mix-blend-mode: hard-light;
    z-index: 2;
}

/* KANBAN TABLE TRELLO INFO TO DO LIST*/

.kanban-info {
    margin: 10px 10px 10px 0;
    align-items: start;
    justify-content: start;
    /* width: 270%; */
    min-width: 600px;
    gap: 1rem;
    z-index: 4;
    padding: 1.2rem 1.2rem 7rem 1.2rem ;
}

.trello-icon {
    font-size: 5rem;
    height: 5rem;
    width: 5rem;
}

.trello-link {
    transition: all;
    transition-duration: 0.6s;
    left: 16px;
    bottom: 16px;
    border-radius: 16px;
    padding: 3px;
    z-index: 5;
    background-color: #ffffff96;
}

.trello-link:hover{
    background-color: #d0feff;
    padding: 6px;
}
#Doing {
    background-color: #ffefaf;   
}
#Doing .kanban-list-title {
    color: rgb(255, 147, 23);
}
#Doing .kanban-card {
    background-color: #ffc5787e;
}
#Done {
    opacity: 0.90;
    mix-blend-mode: hard-light;
}

#Done .kanban-list-title{
    color: rgb(114, 114, 114);
}

#Done .kanban-card {
    color: rgb(112, 112, 112);
}

.kanban-list {
    min-width: 96px;
    justify-content: start;
    flex-grow: 2;
    padding: 8px;
    border-radius: calc(var(--section-border-radius));
    background-color: rgba(250, 252, 255, 0.938);
    min-height: 150px;
    min-width: 210px;
    z-index: 4;
    gap: 4px;
    align-items: normal;
}
.kanban-list-title {
    color: rgb(15, 37, 109);
    z-index: 4;
    margin-left: 15%;
}

.kanban-card {
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    padding: 4px 0px;
    background-color: #2154fc3b;
    border-radius: calc(var(--section-border-radius) / 3);
    z-index: 4;
    mix-blend-mode: normal;
    text-align: center;
}

.kanban-card-title {
    padding: 0;
    margin: 0;
}

.kanban-label {
    align-items: center;
    font-family: monospace;
    font-size: 0.65rem;
    color: white;
    margin-bottom: 0.6rem;
    border-radius: var(--section-border-radius);
    z-index: 4;
    padding: 3px 6px;
}

.kanban-card-img {
	margin: 0.8rem 0.8rem;
    	border-radius: calc(var(--section-border-radius) / 3);
    	overflow: hidden;
}

.kanban-card-img img{
    object-fit: cover;
    -o-object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    transform: scale(1.02);
}

/*  EITQUETAS DE COLOR COLORES WE */
.yellow_light {
    background-color: rgb(238, 214, 0);
    z-index: 4;
}
.pink {
    z-index: 4;
    background-color: var(--pink);
}
.black_dark {
    z-index: 4;
    background-color: rgb(92, 92, 92);
}
.red_light {
    z-index: 4;
    background-color: #ff7373
}
.pink_light {
    z-index: 4;
    background-color: rgb(255, 148, 232);
}



.more {
    align-items: center;
    justify-content: start;
    gap: 4rem;
    margin: 3.5rem 0;
}
.more a {
    margin: 1.5rem;
}

.more .fa-brands, .more .fa-solid, .more .fa-regular {
    font-size: 2rem;
}
.fa-file-pdf {
    padding: 12px;
}
.fa-telegram {
    margin-bottom: 1.2rem;
}
.more-text {
    font-size: 1.1rem;
    margin: 0 4rem;
    font-weight: 700;
    font-family: 'Quicksand',Helvetica,Century Gothic,sans-serif;
    text-align: center;
}


/*ILLUSTRATION VIEWER SHOW PICTURES ART PORTFOLIO DESIGN SHOWCASE*/

.illustration-viewer {
    background-color: rgba(0, 3, 41, 0.418);
    border-radius: var(--section-border-radius);
    
    flex-grow: 4;
    min-width: 300px;
    height:100%;
    min-height: 400px;
}
.illustration-content{ 
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

.illustration-content img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    z-index: 1;
    transition: opacity 0.5s;
    border-radius: 1.2rem;
}






















/* FOOTER SECTION */

.about-me {
    background-color: var(--ft);
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    margin: 3%;
    max-width: 1300px;
}

.about-me div {
    flex-direction: row;
    padding: 20px 20px 0px 20px;
    align-items: center;
    justify-content: center;
}

.about-me-content {
    
    width: auto;
}

.about-me-content a {
    font-size: 1.3rem;
    color: var(--cyan);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 4px #7ae9ffa2;
}


.footer-profile-icon{
    display: flex;
    position: relative;
    margin:10px 30px 0px 40px;
    height: 148px;
    
    border: 6px solid #fff;
    border-radius: 50%;
    
    outline: solid 4px rgba(255, 255, 255, 0.4);
    position: relative;
    outline-offset: 4px;
    user-select: none;
    -webkit-user-drag: none;

}

.name {
    display: none!important;
    font-size: 1.3rem;
    justify-content: end;
    opacity: 0.6;
    font-style: italic;
}

.email {
    padding: 20px 0px 30px 0px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.301);
    font-size: 1.4rem;
}

.padding-left{
    display: flex;
    width: 4%;
}

.hidden {
    display: none!important;
}
.wrap {
    flex-wrap: wrap;
}

/* RESPONSIVE SECTION */

@media (max-aspect-ratio: 0.95) {
    .section-social-media{
        padding-left: 0px;
    }
    header {
        flex-direction: column;
        padding-top: 20px;
    }
    
    .art-content {
        padding-bottom: 6rem;
        padding-top: 4rem;
        box-shadow: 0 0 4rem 4rem var(--bg-art-content);
        margin: 0 0 0 0;
        width: 100%;
        border-radius: 0;
    }

    .title-column {
        flex-direction: column;
        gap: 20px
    }

    .hidden-mobile {
        display: none!important;
    }

    .hidden-desktop {
        display: flex!important;
    }


    .title {
        padding-right: 0;
    }

    .section-social-media-character {
        
        position: relative;
        min-height: 30vh;

    }
    #social-media-character{
        animation-name: character-float-mobile;
        opacity: .99;
        mix-blend-mode:hard-light;
    }
    
    .art-content {
        flex-direction: column;
        min-height: 400px;
        height: auto;
    }
    .info-side {
        height:auto;
        padding-bottom: 16px;
        min-height: 300px;
        margin: 1rem;
    }

    .about-me {
        border-radius: 0;
        margin: 0;
        background-color: #15224a;
    }

    .about-me div {
     flex-direction: column;
    }
    p {
        opacity: 0.8;
    }

    h2 {
        justify-content: center;
        font-size: 3rem;

    }
    .illustration-viewer {
        border-radius: 0;
    }
    .info-side {
        width: 100%;
        border-radius: 0;
    }

.title-column {
	padding-right: 0;
}


}

@media (max-aspect-ratio: 4/3) {

.title-column {
	padding-right: 5%;
}
    .info-side {
        width: 100%;
    }
    .art-content {
        flex-direction: column-reverse;
        height: auto;
        border-radius: 1rem;
    }
    .hidden-tablet {
	    display:none;
    }
    header {
	    padding: 1.5rem 0;

}
